.container{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 84vh;
    background: #006496;
    font-size: 16px;
    overflow: hidden;
    padding: 30px;
    display: flex;
    justify-content: center;
    .content{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        section{
            width: 70%;
            height: 100%;
        }
        article{
            width: 30%;
            height: 100%;
            & > .card:first-child{
                min-height: 420px;
            }
        }
        .card{
            width: 100%;
            min-width: 100%;
            padding: 20px;
            padding-bottom: 50px;
            border-radius: 3px;
            background-color: white;
            box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
            position: relative;
            overflow: hidden;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            .title{
                font-size: 30px;
                font-weight: bold;
                margin: 10px 0 20px 10px;
            }
            a{
                z-index: 10;
                &.view{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    margin: 10px;
                    color: white!important;
                }
                &.view:hover{
                    color: #1877F2!important;
                }
            }
        }
    }
}