.main{
    width: 100%;

    .topPart{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0px;
        border-bottom: 1px solid rgb(208, 208, 208);

        :nth-child(2){
            margin: 5px;
        }
        
        .dataPart{
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 30px;
    
            .imgContainer{
                overflow: hidden;
                height: 130px;
                width: 130px;
                border-radius: 50%;
                border: 1px solid rgb(208, 208, 208);
                box-shadow: 0px 11px 15px -10px rgb(0 0 0 / 25%);
                
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

    }

}