@import '../../styles/responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
$gray: #F0F2F5;

.navbar{
    height: 60px;
    z-index: 10;
    position: relative;
    width: 100vw;
    background: #FFFFFF;
    box-shadow: 0px 11px 15px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 2%;

    @include sm{
        justify-content: space-between;
    }

    .logo{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #1877F2;
        transition: 0.5s;
        position: relative;
        &:hover{
            transform: scale(0.95);
        }
        span{
            position: absolute;
            right: 5px;
            bottom: 0;
            color: white;
            font-size: 40px;
            font-family: 'Faster One', cursive;
        }
    }

    .searchDiv{
        background-color: $gray;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        position: relative;

        @include sm{
            display: none;
        }

        input{
            background-color: transparent;
            border: none;
            padding: 10px 10px;
            font-size: 12px;
            outline: none;
        }

        .searchResults{
            position: absolute;
            margin: 0 !important;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: $gray;
            display: flex;
            flex-direction: column;
            border-radius:  0 0 5px 5px;
            overflow: hidden;
            box-shadow: 0px 11px 15px -10px rgba(0, 0, 0, 0.25);

            .searchResult{
                overflow: hidden;
                padding: 5px 10px;
                height: 35px;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                margin: 0;
                transition: 0.5s;
                cursor: pointer;

                &:hover{
                    background-color: #acb1b8;
                }

                .picture{
                    height: 20px;
                    width: 20px;
                    overflow: hidden;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }

    .tabs{
        display: flex;
        align-items: center;
        //justify-self: flex-end;
        margin-left: auto;
        gap: 20px;

        @include sm{
            gap: 10px;
            margin-left: 0;
        }

        .logout{
            @include sm{
                display: none;
            }
        }

        .mobileMenu{
            display: none;
            @include sm{
                display: block;
                z-index: 10000;
            }
        }

        .tabItem{
            height: 50px;
            width: 50px;
            background-color: $gray;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            cursor: pointer;
            user-select: none;
            z-index: 99;

            &:hover{
                background-color: #acb1b8;
            }

            &.messengerIcon{
                img{
                    height: 20px;
                }
            }

            &.bellIcon{
                position: relative;
                overflow: visible !important;
                img{
                    height: 20px;
                }

                .counter{
                    position: absolute;
                    top: 10%;
                    right: 15%;
                    color: red;
                    font-size: 14px;
                    font-weight: bolder;
                }
            }

            &.profileIcon{

                img{
                    height: 100%;
                    object-fit: cover;
                    z-index: 100;
                }

                &:hover{
                    //opacity: 0.8;
                    filter:contrast(0.8)
                }
            }
        }

    }

    .mobileNavigation{
        z-index: -1;
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #006496;

        ul{
            margin-top: -20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            //border: 1px solid red;
            align-items: center;

            li{
                $textColor: white;
                
                color: $textColor;
                font-size: 38px;
                user-select: none;
                border-bottom: 3px solid transparent;
                transition: 0.5s;
                
                &:hover{
                    color: $gray;
                    border-bottom: 3px solid $textColor;
                }

                &.current{
                    border-bottom: 3px solid $textColor;
                }
            }
        }
    }
    
}
