html{
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    //font-family: $main-font
    color: black;
}

ul{
    list-style-type: none;
}

#WEB3_CONNECT_MODAL_ID{
    z-index: 100000;
    .web3modal-modal-lightbox{
        z-index: 100000;
    }
}

img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

a{
    color: inherit !important;
    text-decoration: none;
}