@import '../../styles/colors.scss';

.conversation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        gap: 20px;
        align-items: center;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 1px 15px -5px rgb(0 0 0 / 25%);
        height: 15%;
        .img_container{
            height: 35px;
            width: 35px;
            overflow: hidden;
            border-radius: 50%;
            box-shadow: 0px 1px 15px -5px rgb(0 0 0 / 25%);

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        a{
            margin-left: auto;
        }

    }

    .messagesContainer{
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .messagesList{
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            .messageItem{
                padding: 10px;
                width: 50%;
                background-color: white;
                margin-top: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                transition: 0.5s;
                box-shadow: 0px 1px 15px -5px rgb(0 0 0 / 25%);

                &:hover{
                    background-color: rgb(234, 234, 234);
                }

                &.self{
                    background-color: $blue;
                    margin-left: auto;
                    color: white;
                    &:hover{
                        background-color: $blue;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .input{
        width: 100%;
        display: flex;
        padding: 10px;
        background-color: white;
        box-shadow: 0px 1px 15px -5px rgb(0 0 0 / 25%);
        //margin-top: auto
        height: 15%;
        //align-self: flex-end;
        input{
            height: 100%;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0 !important;
        }


    }
}